// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: 20px;
}


h1, a {
 font-weight: 200;
}

a:hover {
  font-weight: 200px;
}

a, label {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.btn.btn-primary {
  padding: 30px, 50px;
}
